body {
  background: #0d1117;
  color: white;
  font-family: Arial;
  padding: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 6px;
  font-size: 18px;
}

#feed {
  margin-top: 30px;
}

.confession {
  background: #161b22;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 12px;
}
